*, ::after, ::before {
  box-sizing: border-box;
}

#header {
  background: #333;
}

.mediumnavigation {
  background: rgba(255, 255, 255, 0.97);
  box-shadow: 0 2px 2px -2px rgb(0 0 0 / 15%);
  transition: top 0.2s ease-in-out;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.bg-white {
  background: #fff;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navbar-expand-lg .container, .navbar-expand-lg .container-fluid {
    flex-wrap: nowrap;
  }
  .container {
    max-width: 960px;
  }
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
  }
}

.navbar {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.navbar-collapse {
  flex-grow: 1;
  align-items: center;
}

.navbar .container, .navbar .container-fluid {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.pr-0, .px-0 {
  padding-right: 0;
}

.mediumnavigation .navbar-brand {
  font-weight: 500;
  font-family: Righteous;
  font-size: 1.4rem;
}

.navbar-ligth .navbar-brand {
  color: rgba(0,0,0,.9);
}

.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  line-height: inherit;
  white-space: nowrap;
}

a {
  transition: all 0.2s;
  text-decoration: none;
  background-color: transparent;
}

.navbar-toggler:not(:disabled):not(.disabled) {
  cursor: pointer;
}

.navbar-ligth .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,.1);
}

.navbar-ligth .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

.navbar-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: .25rem;
}

button, select {
  text-transform: none;
}

button, input {
  overflow: visible;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
}